body {
  margin: 0;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 0 50px;
}

.transformations-container , .filters-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.btn {
  margin-bottom: 2rem;
  width: 100%;
  height: 50px;
  font-size: 18px;
  margin: 0.5rem;
  border: 2px solid #fff;
  border-radius: 0.5rem;

  transition: all 0.2s ease-in-out;
}

.btn:hover ,.btn-bitPlaneSlicing:hover {
  cursor: pointer;
  background-color: #475e8b;

  color: #fff;
  border: none;
}

.btn-bitPlaneSlicing {
  width: 100%;
  height: 70px;
  font-size: 18px;
}


